/*

** - Default CSS
** - Our Process CSS
** - Navbar CSS
** - Main Banner CSS
** - Boxes CSS
** - Services CSS
** - Services Details CSS
** - Features CSS
** - Portfolio CSS
** - Ready To Talk CSS
** - Page Title CSS
** - Contact CSS
** - Coming Soon CSS
** - 404 Error CSS
** - Footer CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

:root {
  scroll-behavior: inherit;
}

img {
  max-width: 100%;
}

a {
  color: #416286;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  outline: 0 !important;
}
a:hover, a:focus {
  color: #344f6b;
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}
.d-table-cell {
  vertical-align: middle;
}

p {
  color: #253A59;
  line-height: 1.8;
}
p:last-child {
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.text-right {
  text-align: end;
}

:focus {
  outline: 0 !important;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-50 {
  padding-bottom: 50px;
}

.bg-f7fafd {
  background-color: #81a1c2;
}

.bg-f9f6f6 {
  background-color: #cccccc;
}

.bg-f9fafb {
  background-color: #f9fafb;
}

.bg-0f054b {
  background-color: #C2C1BB;
}

.bg-eef6fd {
  background-color: #eef6fd;
}

.pb-80 {
  padding-bottom: 80px;
}

textarea.form-control {
  height: auto !important;
}

.logo {
  width: 120px;
  height: auto;
}

.small-logo {
  max-width: 80px;
  padding: 10px;
  margin-top: 40px;
  filter: grayscale(100%);
  transition: filter 0.3s;
}
.small-logo:hover {
  filter: grayscale(0%);
}

/* btn btn-primary */
.btn-primary {
  color: #ffffff;
  background-color: #416286;
  box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background: #253A59;
  transform: translateY(-5px);
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background: #253A59;
  transform: translateY(-5px);
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #ffffff;
  background-color: #416286;
  box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
  opacity: 1;
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary:disabled:hover, .btn-primary:disabled:focus {
  background: #253A59;
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn {
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 15px 40px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
  text-transform: uppercase;
  transition: 0.5s;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  transition: 0.5s;
  background: #C2C1BB;
  z-index: -1;
}
.btn::after {
  left: 0;
  border-radius: 4px 0 0 4px;
}
.btn::before {
  right: 0;
  border-radius: 0 4px 4px 0;
}
.btn:hover::after, .btn:hover::before {
  width: 50%;
}

.btn-secondary {
  color: #ffffff;
  background-color: #78776d;
  box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #ffffff;
  background: #253A59;
  transform: translateY(-5px);
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: unset;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: unset;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary .show > .btn-secondary.dropdown-toggle {
  color: #ffffff;
  background: #253A59;
  transform: translateY(-5px);
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #ffffff;
  background-color: #416286;
  box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
  opacity: 1;
}
.btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary:disabled:hover, .btn-secondary:disabled:focus {
  background: #253A59;
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn {
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 15px 40px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
  text-transform: uppercase;
  transition: 0.5s;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  transition: 0.5s;
  background: #C2C1BB;
  z-index: -1;
}
.btn::after {
  left: 0;
  border-radius: 4px 0 0 4px;
}
.btn::before {
  right: 0;
  border-radius: 0 4px 4px 0;
}
.btn:hover::after, .btn:hover::before {
  width: 50%;
}

/* Form control */
.form-group {
  margin-bottom: 18px;
}

label {
  color: #253A59;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-control {
  height: 45px;
  padding: 10px 15px;
  font-size: 14px;
  color: #253A59;
  border: 1px solid #eeeeee;
  border-radius: 0;
  background: #eeeeee;
  transition: 0.5s;
}
.form-control:focus {
  outline: 0;
  background: #ffffff;
  box-shadow: unset;
  border-color: #416286;
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 1rem;
}
.section-title h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}
.section-title p {
  max-width: 520px;
  margin: 0 auto;
}
.section-title .bar {
  height: 5px;
  width: 90px;
  background: #dbdad7;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}
.section-title .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #81a1c2;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
}
.section-title .sub-title {
  display: inline-block;
  color: #C2C1BB;
  background-color: #cccccc;
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 5px 20px 4px;
  font-size: 13px;
}
.section-title.text-left {
  text-align: left;
}
.section-title.text-left h2 {
  font-weight: 500;
}
.section-title.text-left h2 span {
  display: inline-block;
  font-weight: 700;
}
.section-title.text-left p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(88px);
  }
}
.features-area {
  align-items: center;
}

.description {
  max-width: 60vw;
  margin: auto;
  padding-bottom: 20px;
}

/*================================================ 
Our Process CSS
=================================================*/
.timeline {
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}

.timeline > div {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  -o-border-image: linear-gradient(to right bottom, #1fa2ff, #00c0ff, #00d9f2, #53eedd, #a6ffcb);
     border-image: linear-gradient(to right bottom, #1fa2ff, #00c0ff, #00d9f2, #53eedd, #a6ffcb);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: black;
}

/* numbers */
.timeline > div::before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 2em;
  width: 2em;
  background-color: black;
  text-align: center;
  line-height: 1em;
  color: white;
  font-size: 1.25em;
}

/* odd number borders */
.timeline > div:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  text-align: right;
}

.timeline > div:nth-child(odd)::before {
  left: 100%;
  margin-left: -20px;
}

/* even number borders */
.timeline > div:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

.timeline > div:nth-child(even)::before {
  right: 100%;
  margin-right: -20px;
}

/* handle first and last */
.timeline > div:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.timeline > div:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*================================================
Navbar CSS
=================================================*/
#header.headroom {
  position: fixed;
  width: 100vw;
  z-index: 9998;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: 0.3s;
  padding-top: 15px;
}
#header.headroom.is-sticky {
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background: transparent url(/images/hero-image1.svg) left top repeat-x;
  background-size: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
#header.headroom--pinned {
  transform: translateY(0%);
}
#header.headroom--unpinned {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.startp-nav {
  background: transparent;
  color: #cccccc;
}
.startp-nav nav {
  padding: 0;
}
.startp-nav nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.startp-nav nav .navbar-brand {
  color: #ffffff !important;
}
.startp-nav nav .navbar-nav .nav-item {
  position: relative;
  padding: 15px 0;
}
.startp-nav nav .navbar-nav .nav-item a {
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 14px;
  margin-right: 14px;
}
.startp-nav nav .navbar-nav .nav-item a:hover, .startp-nav nav .navbar-nav .nav-item a:focus, .startp-nav nav .navbar-nav .nav-item a.active {
  color: #9e9d94;
}
.startp-nav nav .navbar-nav .nav-item a svg {
  width: 14px;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  background: #1a2736;
  position: absolute;
  border: none;
  top: 80px;
  left: 0;
  width: 250px;
  display: block;
  z-index: 99;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  opacity: 0;
  border-radius: 5px;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li {
  position: relative;
  padding: 0;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 15px;
  margin: 0;
  display: block;
  color: #999999;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #416286;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li a svg, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li a i {
  float: right;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0 !important;
  visibility: hidden !important;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #999999;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #416286;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
  top: -10px !important;
}
.startp-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #416286;
}
.startp-nav nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

/* Navbar toggler */
.navbar-toggler {
  border: none;
  border-radius: 0;
  padding: 0;
}
.navbar-toggler:focus {
  outline: 0 !important;
  box-shadow: none;
}
.navbar-toggler .icon-bar {
  width: 35px;
  transition: all 0.3s;
  background: #e7e6e4;
  height: 4px;
  display: block;
  border-radius: 3px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  left: 4px;
  position: relative;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  margin: 5px 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  left: 4px;
  position: relative;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  left: 0;
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  left: 0;
}

@media only screen and (max-width: 991px) {
  #header {
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #header.headroom.is-sticky {
    border-bottom: none;
  }
}
/*================================================
Main Banner CSS
=================================================*/
.main-banner {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 300px;
  z-index: 1;
  background: transparent url(/images/hero-image1.svg) left top repeat-x;
  background-size: 100%;
  justify-content: center;
}
.main-banner .hero-content {
  background: url(/images/melsoft-text.svg) center center no-repeat;
  width: auto;
  min-height: 100px;
  background-size: contain;
  background-position: center center;
}
.main-banner .hero-content h1 {
  font-size: 45px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}
.main-banner .hero-content p {
  margin-bottom: 30px;
  color: #ffffff;
}

.shape1 {
  position: absolute;
  top: 20%;
  z-index: -1;
  left: 30px;
  animation: rotate3d 4s linear infinite;
  opacity: 0.4;
}

.shape2 {
  position: absolute;
  z-index: -1;
  top: 60%;
  left: 15%;
}

.shape3 {
  position: absolute;
  left: 25%;
  bottom: 15%;
  z-index: -1;
  animation: animationFramesOne 15s infinite linear;
}

.shape4 {
  position: absolute;
  right: 25%;
  bottom: 15%;
  z-index: -1;
  animation: animationFramesOne 20s infinite linear;
}

.shape5 {
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: -1;
  animation: movebounce 5s linear infinite;
  opacity: 0.2;
}

.shape6 {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: 10%;
}

.shape7 {
  position: absolute;
  left: 25%;
  top: 15%;
  z-index: -1;
  animation: animationFramesOne 20s infinite linear;
}

.shape8 {
  position: absolute;
  z-index: -1;
  top: 15%;
  right: 10%;
}

@keyframes movebounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveleftbounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
.rotateme {
  animation-name: rotateme;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}
/*================================================
Boxes CSS
=================================================*/
.boxes-area {
  padding-bottom: 80px;
  margin-top: 50px;
  z-index: 1;
  text-align: center;
}
.boxes-area .container {
  box-sizing: border-box;
  display: block;
  float: none;
  line-height: 21px;
  position: static;
  z-index: auto;
  margin: 0 auto;
  max-width: 100%;
}
.boxes-area .container .row {
  /* Add centering styles for the row */
  display: flex;
  justify-content: center;
}

.single-box {
  border: 1px dashed #cccccc;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
  transition: 0.5s;
  text-align: center;
}
.single-box .icon {
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #81a1c2;
  border-radius: 50%;
  color: #C2C1BB;
  transition: 0.5s;
}
.single-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.5s;
}
.single-box h3 a:hover {
  text-decoration: underline;
}
.single-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background: linear-gradient(to right bottom, #81a1c2, #cccccc);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.single-box p {
  transition: 0.5s;
}
.single-box.bg-c679e3 {
  border-color: #edc3fc;
}
.single-box.bg-c679e3 .icon {
  color: #C2C1BB;
  background: #edc3fc;
}
.single-box.bg-eb6b3d {
  border-color: rgba(235, 107, 61, 0.3);
}
.single-box.bg-eb6b3d .icon {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}
.single-box:hover {
  transform: translateY(-9px);
  border-color: transparent;
}
.single-box:hover::before {
  opacity: 1;
  visibility: visible;
}
.single-box:hover .icon {
  color: #5781ae;
  background: #C2C1BB;
}
.single-box:hover h3, .single-box:hover p, .single-box:hover a {
  color: #ffffff;
}
.single-box:hover.bg-c679e3 .icon {
  color: #C2C1BB;
}
.single-box:hover.bg-eb6b3d .icon {
  color: #eb6b3d;
}

/*================================================
Services CSS
=================================================*/
.services-area {
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h3 {
  font-size: 17px;
}

.services-content .section-title {
  text-align: left;
  margin-bottom: 20px;
}
.services-content .section-title .bar {
  margin-left: 0;
  margin-right: 0;
  height: 5px;
  width: 90px;
  background: #282824;
  position: relative;
  border-radius: 30px;
}
.services-content .section-title .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #778696;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
}
.services-content .section-title p {
  margin: 0;
}
.services-content .row {
  margin-left: -8px;
  margin-right: -8px;
}
.services-content .row .col-lg-6 {
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  min-height: 180px;
}
.services-content .row .col-lg-6 .box {
  min-height: 180px;
  height: -moz-max-content;
  height: max-content;
}
.services-content .box {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem;
  color: #253A59;
  font-weight: 300;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}
.services-content .box::before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  z-index: -1;
}
.services-content .box svg {
  margin-right: 5px;
  display: inline-block;
  color: #416286;
  transition: 0.5s;
  width: 18px;
  position: absolute;
  left: 15px;
  top: 12px;
}
.services-content .box:hover {
  border-style: dashed;
  border-width: 2px;
  border-color: #81a1c2;
}
.services-content .box:hover::before {
  opacity: 1;
  visibility: visible;
}
.services-content .box:hover svg {
  color: #ffffff;
}

.services-right-image {
  position: relative;
}
.services-right-image img {
  position: absolute;
}
.services-right-image img:nth-child(1) {
  left: 22%;
  top: -85px;
  z-index: 1;
}
.services-right-image img:nth-child(2) {
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: -52px;
}
.services-right-image img:nth-child(3) {
  left: 44%;
  top: -33px;
  z-index: 1;
}
.services-right-image img:nth-child(4) {
  right: 38%;
  z-index: 1;
  top: -220px;
}
.services-right-image img:nth-child(5) {
  z-index: 1;
  right: 24%;
  top: 8px;
}
.services-right-image img:nth-child(6) {
  left: 29%;
  top: 0;
  z-index: 1;
}
.services-right-image img:nth-child(7) {
  right: 44%;
  top: -78px;
  z-index: 1;
}
.services-right-image img:nth-child(8) {
  right: 30%;
  top: -134px;
  z-index: 1;
}
.services-right-image img:nth-child(9) {
  right: 31%;
  top: -21px;
  z-index: 1;
}
.services-right-image img:nth-child(10) {
  right: 24%;
  top: -80px;
}
.services-right-image img:nth-child(11) {
  left: 27%;
  top: -60px;
  z-index: 2;
}
.services-right-image img:nth-child(12) {
  right: 28%;
  z-index: 1;
  top: -54px;
}
.services-right-image img:nth-child(13) {
  left: 31%;
  top: -105px;
  z-index: 1;
}
.services-right-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.services-right-image img:last-child {
  display: none;
}
.services-right-image.single-right-image img {
  display: block;
}
.services-right-image.single-right-image img:first-child {
  top: -60px;
}
.services-right-image.single-right-image img:last-child {
  position: relative;
  left: 0;
  top: 0;
}

.services-left-image {
  position: relative;
}
.services-left-image img {
  position: absolute;
}
.services-left-image img:nth-child(1) {
  left: 15%;
  top: -98px;
}
.services-left-image img:nth-child(2) {
  left: 0;
  top: -200px;
  right: 0;
  text-align: center;
  margin: 0 auto;
}
.services-left-image img:nth-child(3) {
  left: 36%;
  z-index: 12;
  top: -55px;
}
.services-left-image img:nth-child(4) {
  left: 55px;
  top: -38px;
  z-index: 1;
}
.services-left-image img:nth-child(5) {
  z-index: 3;
  right: 26%;
  top: -66px;
}
.services-left-image img:nth-child(6) {
  right: 19%;
  top: -41px;
  z-index: 2;
}
.services-left-image img:nth-child(7) {
  right: 97px;
  top: 40px;
  z-index: 1;
}
.services-left-image img:nth-child(8) {
  right: 23%;
  top: -175px;
  z-index: 2;
}
.services-left-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.services-left-image img:last-child {
  display: none;
}
.services-left-image.single-left-image img {
  display: block;
}
.services-left-image.single-left-image img:first-child {
  top: -60px;
}
.services-left-image.single-left-image img:last-child {
  position: relative;
  left: 0;
  top: 0;
}

/*================================================
Services Details CSS
=================================================*/
.services-details-desc h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.services-details-desc .services-details-accordion .accordion {
  list-style-type: none;
  padding: 0;
  margin: 25px 0 0;
  border: none;
}
.services-details-desc .services-details-accordion .accordion .accordion__item {
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  background: #ffffff;
  margin-bottom: 10px;
  border: none;
}
.services-details-desc .services-details-accordion .accordion .accordion__item:last-child {
  margin-bottom: 0;
}
.services-details-desc .services-details-accordion .accordion .accordion__button {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #253A59;
  position: relative;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.services-details-desc .services-details-accordion .accordion .accordion__button i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 100%;
  background: #416286;
  color: #ffffff;
}
.services-details-desc .services-details-accordion .accordion .accordion__button i::before {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 15px;
}
.services-details-desc .services-details-accordion .accordion .accordion__button.active {
  border-bottom-color: #e1e1e1;
}
.services-details-desc .services-details-accordion .accordion .accordion__button.active i::before {
  content: "\f10f";
}
.services-details-desc .services-details-accordion .accordion .accordion__panel {
  padding: 15px 15px;
  border-top: 1px solid #e1e1e1;
}

.services-details-area .separate {
  margin-top: 80px;
}

.services-details-image {
  text-align: center;
  align-self: start;
}

/*================================================
Features CSS
=================================================*/
.single-features {
  position: relative;
  background: #ffffff;
  padding-left: 95px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: 0.5s;
}
.single-features h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.single-features .icon {
  position: absolute;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #416286;
  border-radius: 50%;
  color: #ffffff;
  left: 20px;
  top: 30px;
  transition: 0.5s;
}
.single-features .icon.bg-c679e3 {
  color: #ffffff;
  background: #C2C1BB;
}
.single-features .icon.bg-eb6b3d {
  color: #ffffff;
  background: #81a1c2;
}
.single-features:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}
.single-features:hover .icon {
  color: #273b51;
  background: #81a1c2;
}
.single-features:hover .icon.bg-c679e3 {
  color: #78776d;
  background: #dbdad7;
}
.single-features:hover .icon.bg-eb6b3d {
  color: #273b51;
  background: #81a1c2;
}

/*================================================
Portfolio CSS
=================================================*/
.portfolio-table {
  width: 50vw;
  margin-bottom: 5rem;
}

.portfolio-item {
  display: flex;
  align-items: center;
  width: 50vw;
}

.portfolio-logo {
  position: relative;
  background: black;
  margin-bottom: 1rem;
  border-radius: 5px;
  max-width: 120px;
}
.portfolio-logo h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.portfolio-logo:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.portfolio-logo img {
  width: 100%;
  height: auto;
}

.portfolio-info {
  position: relative;
  background: #ffffff;
  padding: 5px;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.portfolio-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/*================================================
Ready To Talk CSS
=================================================*/
.ready-to-talk {
  text-align: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #abc0d7;
}
.ready-to-talk h3 {
  font-size: 28px;
  text-shadow: 0 1px 0 rgba(93, 131, 187, 0.25);
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.ready-to-talk p {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(93, 131, 187, 0.25);
  margin-bottom: 20px;
  font-size: 16px;
}
.ready-to-talk .btn::before, .ready-to-talk .btn::after {
  background: #ffffff;
}
.ready-to-talk .btn-primary {
  margin: 5px;
  background: #416286;
  box-shadow: 0 5px 20px 0 rgba(93, 131, 187, 0.25);
}
.ready-to-talk .btn-primary:hover, .ready-to-talk .btn-primary:focus {
  color: #504f49;
  box-shadow: 0 5px 20px 0 rgba(93, 131, 187, 0.25);
}
.ready-to-talk .btn-secondary {
  margin: 5px;
  background: #78776d;
  box-shadow: 0 5px 20px 0 rgba(93, 131, 187, 0.25);
}
.ready-to-talk .btn-secondary:hover, .ready-to-talk .btn-secondary:focus {
  color: #504f49;
  box-shadow: 0 5px 20px 0 rgba(93, 131, 187, 0.25);
}
.ready-to-talk span a {
  margin-left: 15px;
  color: #ffffff;
  text-decoration: underline;
}

/*================================================
Page Title CSS
=================================================*/
.page-title-area {
  position: relative;
  z-index: 1;
  background: transparent url(/images/banner-bg1.jpg) right top no-repeat;
  padding-top: 190px;
  padding-bottom: 100px;
  text-align: center;
}
.page-title-area h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

/*================================================
Contact CSS
=================================================*/
.contact-info-area {
  margin-top: 5rem;
}

.contact-area .form-check {
  margin-bottom: 20px;
}
.contact-area .form-check label {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.contact-area .form-check label a {
  color: #416286;
}
.contact-area .form-check label a:hover {
  text-decoration: underline;
}

.contact-info-box {
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background: #ffffff;
  padding: 30px;
}
.contact-info-box .icon {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 62px;
  background: #81a1c2;
  border-radius: 50%;
  font-size: 30px;
  color: #416286;
  transition: 0.4s;
}
.contact-info-box h3 {
  font-size: 20px;
  margin: 25px 0 15px;
}
.contact-info-box p {
  margin-bottom: 0;
}
.contact-info-box p a {
  color: #253A59;
}
.contact-info-box p a:hover {
  color: #416286;
}
.contact-info-box:hover {
  transform: translateY(-10px);
}
.contact-info-box:hover .icon {
  color: #ffffff;
  background: #416286;
}

.contact-form .invalid-feedback {
  margin-top: 10px;
}
.contact-form .btn {
  margin-top: 10px;
}
.contact-form .form-check {
  margin-bottom: 10px;
}
.contact-form .form-check label {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.contact-form .form-check label a {
  color: #416286;
}

/*================================================
Coming Soon CSS
=================================================*/
.coming-soon-area {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-image: url(/images/coming-soon.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.coming-soon-area::before {
  z-index: -1;
  background: linear-gradient(-9deg, #6a82fb 0%, #6a82fb 40%, #fc5c7d 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.8;
}
.coming-soon-area .social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: 30px;
}
.coming-soon-area .social-list li {
  display: inline-block;
}
.coming-soon-area .social-list li.list-heading {
  display: block;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.coming-soon-area .social-list li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #416286;
  color: #ffffff;
  border-radius: 50%;
  margin: 0 2px;
}
.coming-soon-area .social-list li a svg {
  width: 15px;
}
.coming-soon-area .social-list li a.facebook {
  background-color: #3b5998;
}
.coming-soon-area .social-list li a.twitter {
  background-color: #1da1f2;
}
.coming-soon-area .social-list li a.linkedin {
  background-color: #0077b5;
}
.coming-soon-area .social-list li a.instagram {
  background-color: #c13584;
}
.coming-soon-area .social-list li a:hover, .coming-soon-area .social-list li a:focus {
  background-color: #416286;
}

.coming-soon-content {
  text-align: center;
  max-width: 820px;
  margin: -80px auto 0;
}
.coming-soon-content h1 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 15px;
}
.coming-soon-content p {
  color: #ffffff;
  font-size: 16px;
  margin: 0 auto;
  max-width: 620px;
}
.coming-soon-content form {
  position: relative;
  margin: 35px auto 55px;
  max-width: 520px;
}
.coming-soon-content form .email-input {
  display: block;
  width: 100%;
  height: 56px;
  border: none;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  padding: 15px 25px;
  font-size: 16px;
  outline: 0 !important;
  background: #F1F2F3;
}
.coming-soon-content form .submit-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 50px;
  background: #416286;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  width: 130px;
  outline: 0 !important;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 500;
}
.coming-soon-content form .submit-btn:hover, .coming-soon-content form .submit-btn:focus {
  background-color: #C2C1BB;
}
.coming-soon-content #timer div {
  background: #ffffff;
  display: inline-block;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  color: #C2C1BB;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  padding-top: 18px;
  font-size: 35px;
  font-weight: 500;
}
.coming-soon-content #timer div span {
  display: block;
  margin-top: -4px;
  color: #253A59;
  font-size: 15px;
}

/*================================================
404 Error CSS
=================================================*/
.error-area {
  height: 100vh;
}

.error-content {
  text-align: center;
  margin-top: -70px;
}
.error-content .notfound-404 {
  position: relative;
  height: 280px;
  z-index: -1;
  margin-bottom: 30px;
}
.error-content .notfound-404 h1 {
  font-size: 230px;
  font-weight: 900;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url(/images/oops-bg.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}
.error-content h3 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
}
.error-content p {
  max-width: 550px;
  margin: 0 auto 25px;
}

/*================================================
Footer CSS
=================================================*/
.footer-area {
  position: relative;
  z-index: 1;
}

.copyright-area {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*=============================
Go Top CSS
===============================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: -100%;
  color: #ffffff;
  background-color: #416286;
  z-index: 1;
  width: 45px;
  text-align: center;
  height: 45px;
  border-radius: 10px 0 0 10px;
  line-height: 46px;
  transition: 0.5s;
  z-index: 999;
}
.go-top:hover {
  color: #ffffff;
  background: #C2C1BB;
}
.go-top.active {
  right: 0;
}

.main-text-area h1, .main-text-area h2, .main-text-area h3, .main-text-area h4, .main-text-area h5, .main-text-area h6 {
  margin-bottom: 15px;
}/*# sourceMappingURL=style.css.map */